{% load staticfiles %}
<!DOCTYPE html>

<html>
    <head>
        <title>Group 08 - Landing Page</title>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript">
	    var login_url = "{% url 'app:login' %}";
	</script>
	<script type="text/javascript" src="{% static 'app/js/index.js' %}"></script>
	<link type="text/css" rel="stylesheet" href="{% static 'app/index.css' %}" />
    </head>
    
    <body>
	<div id="cont">
	    <div id="top">		
		<form id="login">
		    {% csrf_token %} 
		    <label for="username">User name:</label><input type="text" name="username" value="" id="username">
		    <label for="password">Password:</label><input type="password" name="password" value="" id="password">
		    <input type="submit" class="button" value="Login" />
		</form>
		<div id="success"></div>
		<div id="error"></div>
	    </div>
	    <div id="bot">
		<form id="user_form" method="post" action="{% url 'app:index' %}" enctype="multipart/form-data">
		    {% csrf_token %} 
		    {{ user_form.as_p }}
		    {{ profile_form.as_p }}
		    <input type="submit" class="button" value="Register" />
		</form>
	    </div> 
	</div>
    </body>
</html>